<div class="form-group">
        <label for="id_type">Type:</label>
        <select class="form-control" id="id_type" name="type">
            <option value="{{ Item.BUSINESS }}">Business</option>
            <option value="{{ Item.RESIDENTIAL }}">Residential</option>
        </select>
    </div>

    <div class="form-group">
        <label for="id_county">County:</label>
        <select class="form-control" id="id_county" name="county">
            <option value="Nairobi">Nairobi</option>
            <option value="Mombasa">Mombasa</option>
        </select>
    </div>
